@media (max-width: @screen-xs) {
    body{font-size: 10px;}
}

@media (max-width: @screen-sm) {
    body{font-size: 14px;}
}

.features .glyphicon {
	font-size: 32px;
	color: red;
}

p {
	line-height: .45em;
}

p#smallest {
	line-height: .1em;
	color: red;
}

#reg {
	font-size: 2em;
}

#small {
	font-size: 1.5em;
}

#smaller {
	font-size: 1em;
}

#smallest {
	font-size: .75em;
}

